.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #1C2752;
    justify-content: center;
  }
  
  .footer .header{
    position: relative;
    display:flex;
    padding-bottom: 1rem ;
    background-color: #1C2752;
    border: 0px;
  }

  .footer .mail{
    left: 40%;
    top:40%;
  }

  .footer .call{
    top:40%;
    left: 60%;
  }

  .footer .location{
    position:absolute;
    top:40%;
    left: 80%;
  }
  
  .footer .social-text{
    color:white;
  }

  .white{
    display:flex;
    align-items: center;
  }
  
  
  .footerDiv{
    display:grid;
    width: 80%;
    padding: 5% 0%;
    border-top:1px solid #4B557D;
    color: white;
    grid-template-columns:2fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #1C2752;
    justify-content: center;
    align-content: center;
  }
  
  .item{
    border-right: 1px solid #4B557D;
    text-align: center;
  }

  .item a{
    line-height: 1.5;
  }

  .item h4{
    line-height: 2;
  }
  
  #QuickLink {
    padding-left: 10%;
    border:0px;
  }
  
  .footer hr {
    border: 1px solid #4B557D;
    padding-inline: 10%;
    background-color: #1C2752;
    color: #1C2752;
  }
  
  .footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.785);
    font-weight: 200;
  }
  
  .footerDiv img {
    padding-left: 3%;
  }

  .footerDiv p{
    color:rgba(255, 255, 255, 0.774);
    text-align: start;
    padding:5% 10% 10% 10%;
  }

  .secondBanner{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    position: relative;
    align-items: center;
    background-color: #FFB342;
    top: auto;
    width: 100%;
    padding: 5% 0;
  }
  
  .secondBanner .getStarted{
    display: none;
  }
  
  .secondBanner .form{
    display: block;
  }
  
  .secondBanner .textdiv{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    width: 35vw;
    row-gap: 0rem;
  }
  
  .secondBanner h1{
    width: 100%;
    margin: 0px;
    display: flex;
    white-space: nowrap;
    flex-wrap: nowrap;
    color: #1C2752;
    font-size: 1.5rem;
  }
  .secondBanner p{
    margin: 0px;
    max-width: 95vw;
    color: #1C2752;
    font-size: 1rem;
  }
  
  strong{
    display: inline;
  }

  .subsButton{
    display: inline;
    padding: 1.5% 5%;
    margin-top: 5%;
    border: 2px solid white;
    width: 40%;
    outline: none;
    color: #1C2752; 
    font-weight: 400;
    background-color: #FFB342;
    font-size: small;
  }

  #subInput{
    color: #1C2752;
  
  }
  
  #subutton{
    background-color: white;
    width: fit-content;
    color: #1C2752;
    margin-left: -1%;
    border: 2px solid white;
    padding: 1.5% 5%;
  }  
  
  @media(max-width:600px){
    
    .secondBanner{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .secondBanner .textdiv{
      margin-left: 1%;
      width: 100%;
    }
  
    .secondBanner h1{
      margin: 0px;
      max-width: 100%;
      display: flex;
      flex-wrap: nowrap;
      color: #1C2752;
      font-size: 95%;
    }
  
    .secondBanner .form{
      left: 0px;
      margin-top: 5vw;
      width: auto;
      white-space: nowrap;
      box-sizing: border-box;
    }
  
    .subsButton{
      position: relative;
      margin-left: 0%;
      font-size: 60%;
      width: 40vw;
      overflow: hidden;
    }

    /* .subsButton input {
      width: 90vw;
    } */

    #subtton{
      width: 40%;
      padding: 0.8% 0.3%;
    }
  
    .secondBanner p{
      display: flex;
      margin: 0px;
      flex-wrap: wrap;
      color: #1C2752;
      font-size: 90%;
    }

    .footer .header{
      width: 100%;
    }

    .footer .logo{
      margin-left: 10%;
    }

    .footer .mail{
      top:30%;
      left: 33%;
    }
  
    .footer .call{
      top:30%;
      left: 57%;
    }
  
    .footer .location{
      position:absolute;
      top:27%;
      left: 79%;
    }

    .footer .icon{
      margin: 0%;
    }

    .footer .social-text strong{
      font-size: 50%;
    }

    .footer .social-text p{
      font-size: 10%;
    }

    .footerDiv{
      width:90%;
      font-size: 65%;
    }

    .footerDiv img{
      width: 7vw;
    }

  }
  @media(min-width:1500px){
    .footer .header{
      width: 100%;
    }
    
    .secondBanner .textdiv{
      margin-left: 30%;
      max-width: 100%;
    }

    .secondBanner h1{
      margin: 0px;
      max-width: 100%;
      white-space: nowrap;
      color: #1C2752;
      font-size: 2rem;
    }

    .secondBanner p{
      margin: 0px;
      max-width: 35vw;
      color: #1C2752;
      font-size: 1.2rem;
    }

    .secondBanner .form{
      
      margin-left: 5%;
      white-space: nowrap;
      font-size: 2rem;
    }

    .footer .logo{
      width: 9vw;
      margin-left: 10%;
    }

    .footer .mail{
      top:30%;
      left: 33%;
    }
  
    .footer .call{
      top:30%;
      left: 57%;
    }
  
    .footer .location{
      position:absolute;
      top:27%;
      left: 79%;
    }

    .footer .icon{
      margin: 0%;
    }

    .footer .social-text strong{
      font-size: 1.5rem;
    }

    .footer .social-text p{
      font-size: 1.2rem;
    }

    .footerDiv{
      width:80%;
      font-size: 1.5rem;
    }

    .footerDiv img{
      width: 7vw;
    }

    .subsButton{
      position: relative;
      margin-left: 0%;
      width: 50%;
      font-size: 60%;
    }
    #subtton{
      width: 40%;
      padding: 0.8% 0.3%;
    }

  }