.header {
  display: flex;
  align-items: center;
  padding: 0rem;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  width: 8vw;
  height: auto;
  margin-left: 12%;
}

.social-icon {
  display: flex;
  align-items: center;
  width: auto;
}

.icon {
  width: 2rem;
  height: auto;
  margin-right: 0.5rem;
}

.social-text {
  color: #1C2752;
}

.social-text strong {
  font-weight: bold;
}

.social-text p {
  margin: 0;
  color: gray;
}

.mail{
  position:absolute;
  left:44%;
}

.call{
  position: absolute;
  left: 73%;
}


@media (min-width: 1500px) {

  .header {
      padding: 2vh;
  }

  .logo {
      width: 8vw;
      margin-left: 12%;
  }

  .social-icon {
      margin-right: 0px;
  }

  .icon {
      width: 4vw;
      margin-right: 0.1rem;
  }

  .mail {
    width: auto;
    left: 60vw;
  }
  
  .call {
    width: auto;
    left: 80vw;
  }

  .social-text {
      margin-left: 0.5rem;
  }

  .social-text strong{
      font-size: 1.5rem;
  }
  .social-text p{
      font-size: 1.2rem;
  }
}
@media (max-width: 1500px) {

  .header {
      padding: 0.5rem;
  }

  .logo {
      width: 7vw;
      margin-left: 12%;
  }
  
  .mail {
    width: auto;
    left: 65vw;
  }
  
  .call {
    width: auto;
    left: 80vw;
  }

  .social-icon {
      margin-right: 0px;
  }

  .icon {
      width: 3vw;
      margin-right: 0.1rem;
  }

  .social-text {
    margin-top: -10%;
      margin-left: 0.2vw;
      line-height: 0.9;
  }

  .social-text strong{
      font-size: 0.9vw;
  }

  .social-text p{
    font-size: 0.7vw;
}
}

@media (max-width: 700px) {
  .header {
      padding: 0.25rem;
      justify-content: space-between;
  }

  .logo {
      width: 9vw;
  }

  .mail {
    width: auto;
    left: 50vw;
  }

  .call {
    width: auto;
    left: 70vw;
  }

  .icon {
      width: 4vw;
  }

  .social-text strong{
      font-size: 0.40rem;
  }

  .social-text p {
    font-size: 0.30rem;
  }
}